<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Creative House</title>
  </head>
  <body>
    <div id="container">
      <section id="intro">
        <header>
          <a href="/index.html">
            <img src="logo.png" alt="Main Logo picture"
          /></a>
        </header>
        <main>
          <p>Staying home for a long period of time might not be easy.</p>
          <p>
            That is why we will save our ideas.
            <strong>Games, Movies, Books, Courses, Tips, DYI </strong>
            and everything else that will make your time more interesting.
          </p>
          <p>
            Start by clicking at "See Ideas". You will see all the ideas saved
            and you can also add more ideas if you like.
          </p>
        </main>

        <section id="buttons">
          <button onclick="onOff()">+Add Idea</button>
          <a href="/ideas" class="button">See Ideas</a>
        </section>
      </section>
      <section id="last-ideas">{% include "all_ideas.html" %}</section>
    </div>

    <!-- Modal -->

    {% include "modal.html" %}

    <script src="/script.js"></script>
  </body>
</html>
