body {
  background: #e5e5e5;
  color: #25282b;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #ff5e84;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p,
.description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

#container {
  width: 90%;
  max-width: 980px;
  margin: 40px auto;

  display: flex;
}

#intro {
  width: 300px;
  margin-right: 20px;
}

main {
  margin: 32px 0;
}

button {
  color: #ff5e84;
  border: none;

  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  background: none;

  cursor: pointer;
  outline: none;
}

button:hover {
  text-decoration: underline;
}
.button {
  color: white;
  background: #ff5e84;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.16);
}

.button:hover {
  text-decoration: none;
  background-color: #0984e3;
}

#buttons {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  justify-content: space-evenly;
}

.idea {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
  padding: 32px;
  margin-bottom: 32px;
}

.idea img {
  width: 60px;
  height: 60px;

  margin-right: 32px;
}

.idea h3 {
  margin: 0;
}

.idea p {
  margin: 8px 0;
  color: #777;
}

.idea .description {
  margin: 16px 0;
}

/*modal*/

#modal {
  background: #ff5e84;
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vw;

  display: flex;
  justify-content: center;

  transition: 400ms;
}

#modal .content {
  margin-top: 5px;
  color: white;
}

#modal .content h1 {
  text-align: center;
  text-transform: uppercase;
}

#modal form {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* .input-wrapper {
  margin: 16px 0;
} */

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
  grid-column: span 2;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid rgba(141, 25, 52, 0.5);
  outline: none;
  font-size: 16px;
}

form label {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.8px;
}

form a {
  background-color: #ffffff22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  align-self: end;

  font-size: 14px;
  font-weight: bold;

  border-radius: 6px;

  transition: 400ms;
}

form a:hover {
  background: #fff;
  color: #ff5e84;
  text-decoration: none;
}
form button {
  background: white;
  width: 150px;
  height: 40px;

  border-radius: 6px;
  cursor: pointer;
  margin-top: 32px;

  grid-column: 2;
  justify-self: end;

  transition: 400ms;
}

form button:hover {
  background-color: #0984e3;
  color: white;
  text-decoration: none;
}

#modal.hide {
  opacity: 0;
  visibility: hidden;
}

/* Page Idea */

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#container section:nth-child(3),
#container main:nth-child(4) {
  grid-column: span 2;
}

#container nav {
  display: flex;
  text-decoration: none;
  justify-self: end;
  align-items: center;
  list-style-type: none;
}

#container nav li {
  margin: 20px;
}
#container main section {
  background-color: #e5e5e5;
}

#container .idea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
